<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SlothGoldenCare"
        tools:targetApi="31">
        <activity
            android:name=".AppointmentsPatientsListActivity"
            android:exported="false" />
        <activity
            android:name=".ManageDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentsListActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorsNotesActivity"
            android:exported="false" />
        <activity
            android:name=".TimeActivity"
            android:exported="false" />
        <activity
            android:name=".AdministratorDoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".VideoCall.VideoCallActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentSchedulingActivity"
            android:exported="false" />
        <activity
            android:name=".AppInfoActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_setteings"
            android:theme="@style/Theme.SlothGoldenCare.NoActionBar" /> <!-- <activity -->
        <!-- android:name=".VerifyPhoneActivity" -->
        <!-- android:exported="false"> -->
        <!-- <meta-data -->
        <!-- android:name="android.app.lib_name" -->
        <!-- android:value=""/> -->
        <!-- </activity> -->
        <activity
            android:name=".VisitElderlyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Reminder.TODOActivity"
            android:exported="false" />
        <activity
            android:name=".Reminder.ReminderActivity"
            android:exported="false" />
        <activity
            android:name=".UserHomePageActivity"
            android:exported="false" />
        <activity
            android:name=".MedicalServices"
            android:exported="false" />
        <activity
            android:name=".AddRelatedActivity"
            android:exported="false" />
        <activity
            android:name=".ContactsActivity"
            android:exported="false"
            android:parentActivityName=".HomePageActivity" />
        <activity
            android:name=".ElderSignupActivity"
            android:exported="false" />
        <activity
            android:name=".HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".UserSignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:configChanges="locale"/>
        <activity
            android:name=".AdministratorActivity"
            android:exported="false" />
        <activity
            android:name=".AdministratorUsersActivity"
            android:exported="false" />
        <activity
            android:name=".AdministratorElderliesActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorActivityMain"
            android:exported="false" />
        <activity
            android:name=".DoctorActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorVisitElderlyActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorActivityHealthTips"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sudoko.GameActivity"
            android:exported="false" />
        <activity
            android:name=".sudoko.Game"
            android:exported="false" />
        <activity
            android:name=".sudoko.About"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".Reminder.AlarmBroadcast" />
    </application>

</manifest>